{% extends "base.html" %}

{% block title %}
My Fuckin Shit
{% endblock %}

{% block scriptblk %}

{% endblock %}

{% block topcontent %}

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
            <link rel="stylesheet" href="../static/css/next.css">
            <script src="../static/js/next.js"></script>
            <script src="../static/js/Data.js"></script>
            <script src="../static/js/Shell.js"></script>
        </div>
      </div>
    </div>



{% endblock %}

{% block botcontent %}


{% endblock %}


